GF_ADMIN_USER=admin
GF_ADMIN_PASSWORD=changeme
PROMETHEUS_RETENTION=30d
MINIO_ROOT_USER=minioadmin
MINIO_ROOT_PASSWORD=changeme123

PROMETHEUS_VERSION=v3.13.1
GRAFANA_VERSION=13.1.0
LOKI_VERSION=3.7.3
PROMTAIL_VERSION=3.6.11
MINIO_VERSION=RELEASE.2025-09-07T16-13-09Z
MC_VERSION=RELEASE.2025-08-13T08-35-41Z
