GF_ADMIN_USER=admin
GF_ADMIN_PASSWORD=changeme
PROMETHEUS_RETENTION=30d
```

---

**`docs/rsyslog.conf`**
```
module(load="imudp")
input(type="imudp" port="514")

module(load="imtcp")
input(type="imtcp" port="514")

template(name="RemoteHostFile" type="string"
  string="/var/log/syslog-remote/%HOSTNAME%/%PROGRAMNAME%.log")

if $hostname == 'pfSense.home.arpa' and $programname == 'filterlog' then {
    action(type="omfile" file="/var/log/syslog-remote/pfsense/filterlog.log")
    stop
}

if $hostname == 'pfSense.home.arpa' then {
    action(type="omfile" file="/var/log/syslog-remote/pfsense/system.log")
    stop
}

if $fromhost-ip != '127.0.0.1' then {
    action(type="omfile" dynaFile="RemoteHostFile")
    stop
}
